$secondary-color: #125688;
$platzigram-red: #f44336;
@import "node_modules/materialize-css/sass/materialize.scss";

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  #{$property}: #{$value};
}

body{
  background-color: #fafafa;
  color: #125688;
  font-family: 'Montserrat', sans-serif;
}

.iphone{
  max-width: 100%;
}

.site-footer{
  text-transform: uppercase;
  font-size: 12px;
}

.login-box,
.signup-box{
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}
.platzigram{
  font-family: 'Oleo Script', cursive !important;
  font-size: 42px;
  color: $secondary-color !important;
}

.signup-form{
  width: 65%;
  margin: 0 auto;
}

.signup-form h2{
  color: #a5a7aa;
  font-size: 1.2em;
}

.signup-form .btn.btn-fb{
  background-color: #4090db;
  font-size: .8em;
}

.signup-form .btn.btn-fb:hover{
  background-color: #2d6599;
}

.signup-form .btn.btn-signup{
  background-color: #125688;
}

.header {
  background-color: white;
  color: $secondary-color;
  box-shadow: none;
  border-bottom: 1px solid #edeeee;
}

.timeline {
  padding: 30px 0;
}

.landing {
  margin: 30px auto;
}

$avatar_size: 48px;
.avatar {
  width: $avatar_size;
  height: $avatar_size;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
}

.card small.time {
  line-height: $avatar_size;
}

.card p {
  padding: 20px 0;
}

.card .likes{
  line-height: 30px;
  margin-left: 12px;
}

.card i {
  font-size: 30px;
}

.card .fa-heart-o{
  color: $secondary-color;
}

.card .fa-heart {
  color: red;
  display: none;
}
.card.liked{
  .fa-heart{
    display: block;
  }
  .fa-heart-o{
    display: none;
  }
}
.card .username {
  color: $secondary-color;
}

.form-upload {
  span, button{
    color: white;
  }

  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

.user-page {
  margin-top: 30px;

  .heading {
    margin-bottom: 20px;
  }

  .picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-bottom: 20px;
    position: relative;

    &:hover {
      .picture {
        @include prefix(filter, blur(5px) grayscale(100%));
      }

      .likes {
        display: flex;
      }
    }

    .picture {
      margin-bottom: 20px;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    .likes {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      display: none;
      justify-content: center;
      align-items: center;
      color: $platzigram-red;
      font-size: 34px;
      display: none
    }

    .fa-heart {
      margin-right: 8px;
      display: inline-block;
    }
  }
}

.loader,
.loader:before,
.loader:after {
  background: $secondary-color;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: $secondary-color;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}